
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-color: #6060fd;
    height: 50px;
}
.navbar{
    height: 50px;
    /* padding: 10px; */
    display: flex;
    justify-content: space-between;
    align-items: center;
}
#hfor{
    display: flex;
    gap: 25px;
    position: relative;
    right: 40px;
}
.hlist{
    list-style: none;
    font-size: large;
    
}
a{
    text-decoration: none;
    color: white;
}
#logo{
    position: relative;
    left: 20px;
    font-weight: 300;
}