* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
header {
  height: 58px;
  background-color: #ffffff;
}
#navbar {
  padding: 0 24px;
  height: 58px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#logo {
  font-weight: 100;
  color: #000000;
}
#Items {
  width: 520px;
  display: flex;
  justify-content: space-evenly;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: #000000;
  font-size: larger;
  font-weight: bold;
}
